Source: icu
Section: libs
Priority: optional
Maintainer: Jay Berkenbilt <qjb@debian.org>
Uploaders: Jayoun Lee <airjany@samsung.com>, Seokkyu Jang <seokkyu.jang@samsung.com>, Sangil Yoon <si83.yoon@samsung.com>, Hakjoo ko <hakjoo.ko@samsung.com>, Hyungdeuk Kim <hd3.kim@samsung.com>, Shivakumar BT <shiva.bt@samsung.com>
Standards-Version: 3.7.2
Build-Depends: debhelper (>= 4.1.0), doxygen, zlib1g-dev

Package: libicu
Section: libs
Architecture: any
Depends: ${shlibs:Depends}
Replaces: icu, icu-locales, libicu40
Conflicts: icu, icu-locales, libicu40
Description: International Components for Unicode (libraries)
 ICU is a C++ and C library that provides robust and full-featured
 Unicode and locale support.  This package contains the runtime
 libraries for ICU.

Package: libicu-dev
Section: libdevel
Architecture: any
Depends: libicu (= ${Source-Version}), libc6-dev | libc-dev
Replaces: icu-data, icu-i18ndata, libicu40-dev
Conflicts: icu-data, icu-i18ndata, libicu40-dev
Suggests: icu-doc
Description: International Components for Unicode (development files)
 ICU is a C++ and C library that provides robust and full-featured
 Unicode and locale support.  This package contains the development
 files for ICU along with programs used to manipulate data files found
 in the ICU sources.

Package: icu-doc
Section: doc
Architecture: any
Description: API documentation for ICU classes and functions
 ICU is a C++ and C library that provides robust and full-featured
 Unicode and locale support.  This package contains HTML files
 documenting the ICU APIs.
 
Package: libicu-dbg
Section: debug
Architecture: any
Depends: ${shlibs:Depends}, libicu
Description: icu package (unstripped)
